.hover-fill {
      transition: background-color 0.3s;
    }

    .hover-fill:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: #fff; 
    }

    .navbar .nav-item {
      margin-right: 15px;
    }

    /* Cards for Work page */
    :root {
      --custom-margin-top: 150px;
      --custom-gutter-x: 25px;
      --custom-gutter-y: 15px;
      --custom-card-margin-bottom: 15px;
    }

    .card-text {
      margin-bottom: 20px;
    }

    .row {
      --bs-gutter-x: var(--custom-gutter-x);
      --bs-gutter-y: var(--custom-gutter-y);
    }

    .card {
      margin-top: var(--custom-margin-top);
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: box-shadow 0.3s;
      
    }

    .btn-dark {
      display: flex;
      justify-content: center;
    }
    
    :root {
      --button-width: 100px;
    }

    .btn {
      width: var(--button-width);
    }

    .card:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-img-top {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 200px;
      object-fit: cover;
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-size: 1.25rem;
      margin-bottom: 10px;
    }

    .card-text {
      color: #555;
    }

    .btn-dark {
      background-color: rgba(34, 37, 41);
    }

    .btn-dark:hover {
      background-color: #db92e1;
      background-color: #db92e1;
    }


    html, body {
      height: 100%;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    .content {
      flex: 1;
    }

    /* Footer */
    footer {
      background-color: #f8f9fa;
      padding: 20px 0;
    }



/*.nav-link {
  transition: all 0.2s;
  position: relative;
}

.nav-link:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: pink;
  position: absolute;
  bottom: 0;
  left: 0;
}
